

#column-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    width: 90%;
    margin: auto;

}
.content-column{
    /* min-height: 100px; */
    /* max-width: 40%; */
    padding: 0;
    margin: 1rem 0;
    background: lightblue;
}
.title{
    margin: 0;
    padding:1.5rem 1rem;
    background: #fff;
    border-bottom: #f85750 solid 1px;
}
.content{
    padding:.75rem 1.5rem;
    margin-top: .5rem
}
@media (min-width:768px) {
    #column-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
    }
    .content-column{
        /* min-height: 100px; */
        max-width: 45%;
        /* padding: .5rem; */
        margin: 1rem .5rem;
        background: #eee;
        min-width: 200px;
    }

}
@media(max-width:768px){

}
