#iint-container{
    display:flex;
    flex-direction: column;
}
.option{
    padding: 1rem;
    background: #fafafa;
    display:flex;
    align-items: center;
    justify-content: center;
}
.option p{
    width:80%;
}
@media (min-width:768px) {
    #iint-container .container{
        width: 70%;
        margin: auto;
    }
}
