.tip{
    display: flex;
    flex-direction: row;
    /* flex-flow: row wrap; */
    background-color: #FFC107;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    max-width:300px;
    margin: auto;
    color: white;

}
.tip *{
    box-sizing: border-box;
}
.tip i{
    padding-left: 1rem;
    padding-right:  2rem;

}
.tip-content{
    /* width: 60%; */
}
